<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">View To Component(Event binding)</h3>
		</div>
		<div class="panel-body">
			<button type="button" class="btn btn-success" (click)="onClick($event)">Click</button>
			<button type="button" class="btn btn-success" (dblclick)="onDbClick($event)">Double Click</button>
			<hr />
			<p>{{ count }}</p>
			<button type="button" class="btn btn-danger" (click)="onIncrement()">Increment</button>
		</div>
	</div>
</div>