.text-center{
	text-align: center;
}
.text-bold{
	font-weight: bold;
}
.text-underline{
	text-decoration: underline;
}
.page-title{
	color: #006600;
}
.page-subtitle{
	color: #0000FF;
}
.content-title{
	color: #FF3399;
	background-color: #FECFFD;
}
.content-content{
	background-color: #FFFFCC;
}
.content-content-paragraph1{
	color: #0000FF;
}
.content-content-paragraph2{
	color: #9B0000;
}
.content-content-paragraph3{
	color: #016704;
}
.line{
	width: 100px;
}